<!doctype html>
<html lang="en">
  <head>
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>State Analysis </title>
   <style> 
body{
  padding: 20px;
}
#covid {
  height: 150px;
}
#ctext{
  font-size: 55px;
  text-align: right;
  color: #b23e3d;
  font-family: serif;
}
#nav-bar{
  background-color: #b23e3d;
  color: white;
  font-family: serif;
  height: 28px;
  font-size: 20px;
}
#nav-bar0{
  background-color: #b23e3d;
  color: white;
  font-family: serif;
  height: 26px;
  font-size: 18px;
}
#nav-bar img{
  height: 24px;
}
hr{
  margin: 0px;
  color: white;
  border: 0px;
  height: 1px;
}
.ni,.si,.nei,.ei,.wi {
  height: 28px;
  margin-bottom: 0px;
}
.dropni{
  padding-top: 0px;
  display: none;
  position: absolute;
  font-family: serif;
  max-width: 100px;
  box-shadow: 0px 20px 36px 0px;
  height: 19px;
  font-size: 15px;
}
.dropni a{
  color: white;
  padding: 1px 15px;
  text-align: right;
  background-color: #b23e3d;
  display: block;
}
.ni1{
  width: 100px;
  text-align: right;
  margin-bottom: 0px;
}
.dropni:hover ,.ni:hover + .dropni{
  display: block;
}
.ni1:hover + .dropni{
  display: block;
}
.dropsi{
  padding-top: 0px;
  display: none;
  position: absolute;
  font-family: serif;
  max-width: 100px;
  box-shadow: 0px 8px 16px 0px;
  height: 19px;
  font-size: 15px;
}
.dropsi a{
  color: white;
  padding: 1px 15px;
  background-color: #b23e3d;
  display: block;
}
.dropsi:hover ,.si:hover + .dropsi{
  display: block;
}
.dropwi{
  padding-top: 0px;
  display: none;
  position: absolute;
  font-family: serif;
  max-width: 100px;
  box-shadow: 0px 8px 16px 0px;
  height: 19px;
  font-size: 15px;
}
.dropwi a{
  color: white;
  padding: 1px 20px;
  background-color: #b23e3d;
  display: block;
}
.dropwi:hover ,.wi:hover + .dropwi{
  display: block;
}
.dropei{
  padding-top: 0px;
  display: none;
  position: absolute;
  font-family: serif;
  max-width: 100px;
  box-shadow: 0px 8px 16px 0px;
  height: 19px;
  font-size: 15px;
}
.dropei a{
  color: white;
  padding: 1px 20px;
  background-color: #b23e3d;
  display: block;
}
.dropei:hover ,.ei:hover + .dropei{
  display: block;
}
.dropnei{
  padding-top: 0px;
  display: none;
  position: absolute;
  font-family: serif;
  max-width: 100px;
  box-shadow: 0px 8px 16px 0px;
  height: 19px;
  font-size: 15px;
}
.dropnei a{
  color: white;
  padding: 1px 25px;
  background-color: #b23e3d;
  display: block;
}
.dropnei:hover ,.nei:hover + .dropnei{
  display: block;
}
.flip-card {
    background-color: transparent;
    width: 124px;
    height: 124px;
    perspective: 1000px;
    border-radius: 4px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color:black;
      color: white;
    padding-top:40px ;
  }
  
  .flip-card-back {
    background-color: black;
    color: white;
    padding-top:40px ;
    transform: rotateY(180deg);
  }
   td {
    padding-right: 35px;
  }
  table{
      display: flexbox;
      align-content: center;
      margin: 50px;
      width: 700px;
  }
  .card{
   width: 18rem;
   background-color: cyan;
  margin: 200px;
  }
 .im img {
  border: 1px solid #ddd;
  border-radius: 4px;
  }
  </style>
  </head>
  <body>
      <div class="row" >
    <div class="col-md-9">
      <div class="row">
      <div class="col-md-9">
      <img id="covid" src="https://lh3.googleusercontent.com/z3AWitrKeKVqOr0kGaVW3qbaiEUbd8JieD_rEgrDmpp-qN9fgxaxQT73PtYtPlIkIGoH2rMY6Xtz47Lhi5I5yeG2wdmmFwpOKL8MdBxo7Zv1N6eDfohLxHDh5dr7ala8fNzP_4E_i28"> 
      </div>
      </div>
      <div class="row" >
        <div class="col-md-12">
          <p id="ctext">India Future Predictions</p>
        </div>
      </div>
      <div class="row" id="nav-bar0">
        <p style="text-align: center;">Choose Your Region!!</p>
      </div>
      <hr>
      <div class="row" id="nav-bar">
        <div class="col-md-1">
          <a href="/" style="color: white;">India</a>
        </div>
        <div class="col-md-2">
          <p class="ni">North India</p>
          <div class="dropni">
            <a href="/stateview/jk">Jammu & Kashmir</a>
            <a href="/stateview/ld">Ladakh</a>
            <a href="/stateview/hp">Himachal Pradesh</a>
            <a href="/stateview/ut">Uttarakand</a>
            <a href="/stateview/ch">Chandigarh</a>
            <a href="/stateview/dl">Delhi</a>
            <a href="/stateview/hr">Haryana</a>
            <a href="/stateview/pd">Punjab</a>
            <a href="/stateview/up">Uttarpradesh</a>            
          </div>
        </div>
        <div class="col-md-2">
          <p class="si">South India</p>
          <div class="dropsi">
            <a href="/stateview/tn">Tamil Nadu</a>
            <a href="/stateview/kl">Kerala</a>
            <a href="/stateview/ap">Andhra Pradesh</a>
            <a href="/stateview/tg">Telangana</a>
            <a href="/stateview/ka">Karnataka</a>
            <a href="/stateview/py">Pududcherry</a>
            <a href="/stateview/la">Lakshwadeep</a>
            <a href="/stateview/an">Andaman & Nicbar</a>
          </div>
        </div>
        <div class="col-md-2">
          <p class="nei">North East India</p>
          <div class="dropnei">
            <a href="/stateview/sk">Sikkim</a>
            <a href="/stateview/ar">Arunachal Pradesh</a>
            <a href="/stateview/as">Assam</a>
            <a href="/stateview/mn">Manipur</a>
            <a href="/stateview/ml">Meghalaya</a>
            <a href="/stateview/mz">Mizoram</a>
            <a href="/stateview/nl">Nagaland</a>
            <a href="/stateview/tr">Tripura</a>
          </div>
        </div>
        <div class="col-md-2">
          <p class="wi">West India</p>
          <div class="dropwi">
            <a href="/stateview/dn">Dadra & Nagar haveli</a>
            <a href="/stateview/dd">Daman & Diu</a>
            <a href="/stateview/ga">Goa</a>
            <a href="/stateview/gj">Gujarath</a>
            <a href="/stateview/mh">Maharashtra</a>
            <a href="/stateview/rj">Rajasthan</a>
          </div>
        </div>
        <div class="col-md-3">
          <p class="ei">East & Central India</p>
          <div class="dropei">
            <a href="/stateview/mp">Madhya Pradesh</a>
            <a href="/stateview/br">Bihar</a>
            <a href="/stateview/ct">Chattisgarh</a>
            <a href="/stateview/jh">Jarkhand</a>
            <a href="/stateview/wb">WestBengal</a>
            <a href="/stateview/or">Odisha</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <img  src="https://lh3.googleusercontent.com/C4_iGhxNsSSwJvlo_2RuuxzCGVyEMtuhCTaVmGTNn5F1PFQFoh214a61X0kJdB0zaQgZvwAxyCiOFGOyF3jenp9HZNQ3vwSiOMRiq_-AEEtJR5Iw71KpjSxsMJhRaWegYtX1u7G4qj0" style="height: 290px;">
    </div>
  </div>

       <img  src= " <%=summary.img%> " , style="margin-left: 120px;margin-top: 40px;width: 400px",class="im" >
    <div style="float: right;width: 730px;margin-top: 120px;">
		<table >
			<tr>
				<td>
		   <div class="flip-card">
			  <div class="flip-card-inner" >
			  <div class="flip-card-front" >
				<h5>CONFIRMED</h5>
                </div>
			  <div class="flip-card-back">
				<h3 ><%= summary.total%></h3> 
				
			  </div>
			</div>
      </div>
     
     
</td>

<td>
		  <div class="flip-card">
			<div class="flip-card-inner" >
			  <div class="flip-card-front">
				<h5>ACTIVE</h5>
		       </div>
			  <div class="flip-card-back">
				<h3 ><%= summary.total - ( summary.discharged+ summary.deaths )%></h3> 
				
			  </div>
			</div>
      </div>

</td>
<td>
		  <div class="flip-card">
			<div class="flip-card-inner">
			  <div class="flip-card-front">
				<h5>DISCHARGED</h5>
			                </div>
			  <div class="flip-card-back">
				<h3 ><%= summary.discharged%></h3> 
				
			  </div>
			</div>
		  </div>

</td>
<td>
		  <div class="flip-card">
			<div class="flip-card-inner">
			  <div class="flip-card-front">
				<h5>DEATHS</h5>
           </div>
			  <div  class="flip-card-back">
				<h3 ><%= summary.deaths%></h3> 
				
			  </div>
			</div>
      </div>
</td>
		
            </tr>
    </table>
  </div>
  <div class="alert alert-info" role="alert" style="margin-top: 50px">
       <h3><b><%= summary.name %></b></h3>
       </div>
      <div class="alert alert-danger" role="alert" >
        <h6>Cases expected :</h6>
        <h3 > <%= summary.totalP%></h3>   
      </div> 
    <div class="row">
      <div class="col-md-8">
  <table class="table" style="width: 700px;">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">OBSERVED</th>
        <th scope="col">PREDICTED</th>
      </tr>
    </thead>
    <tbody>
     <% for(var i=0; i!=dateWiseData.length; i++ ){ %>
      <tr>
        <th scope="row"><%= dateWiseData[i].date%></th>
        <td><%= dateWiseData[i].total%></td>
        <td><%= dateWiseData[i].totalP%></td>
       
      </tr>
     <%}%> 
    </tbody>
  </table>
</div>
      <div class="col-md-4">
    <img src= " <%=summary.plot%> " ,class="im">
  </div>
  
</div>
  
<!-- 
<div class="card" >
    <div class="card-body">
      <h5 class="card-title">CONFIRMED :<%= summary.total%></h5>
      <h5 class="card-title">RECOVERED :<%=summaryToday.discharged%> </h5>
      <h5 class="card-title">DEATHS  : <%=summaryToday.deaths%> </h5>
     
    </div>
  </div> -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>